<!-- 店舗一覧ページ -->
<div class="container">
	<div class="row">
		<div class="col-lg-4">
		</div>
		<div class="col-lg-8">
		<% @stores.each do |store| %>
		<% if store.release == "公開" %>
			<div style="padding: 5px 5px 5px 5px; border-top:groove 3px #ffbf7f; border-bottom:groove 1px #ffbf7f; margin: 5px 0 5px 0 ;">
				<strong><%= link_to store.store_name, users_store_path(store[:id]) %></strong>
				<span style="font-size: 10px;"> <%= store.genre %> / <%= store.area %> <%= store.station %></span>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
		    			<%= link_to users_store_path(store[:id]) do %>
							<%= attachment_image_tag store, :item_image, :fill, 187, 125, format:'jpeg', fallback: "no_image.jpg" %>
						<% end %>
					</div>
					<div class="col-lg-2">
					</div>
					<div class="col-lg-7">
							<!-- 味評価javascript -->
						<div id="star1-rate-<%= store.id %>">味　　　</div>
					          <script>
					          $('#star1-rate-<%= store.id %>').raty({
					            size: 36,
					            starOff:  '<%= asset_path('star-off.png') %>',
					            starOn : '<%= asset_path('star-on.png') %>',
					            starHalf: '<%= asset_path('star-half.png') %>',
					            half: true,
					            readOnly: true,
					            score: <%= store.taste %>,
					          });
					          </script>
					          <!-- 見た目評価javascript -->
						<div id="star2-rate-<%= store.id %>">見た目　</div>
					          <script>
					          $('#star2-rate-<%= store.id %>').raty({
					            size: 36,
					            starOff:  '<%= asset_path('star-off.png') %>',
					            starOn : '<%= asset_path('star-on.png') %>',
					            starHalf: '<%= asset_path('star-half.png') %>',
					            half: true,
					            readOnly: true,
					            score: <%= store.appearance %>,
					          });
					          </script>
					          <!-- 雰囲気評価javascript -->
					    <div id="star3-rate-<%= store.id %>">雰囲気　</div>
					          <script>
					          $('#star3-rate-<%= store.id %>').raty({
					            size: 36,
					            starOff:  '<%= asset_path('star-off.png') %>',
					            starOn : '<%= asset_path('star-on.png') %>',
					            starHalf: '<%= asset_path('star-half.png') %>',
					            half: true,
					            readOnly: true,
					            score: <%= store.atmosphere %>,
					          });
					          </script>
					</div>
				</div>
			</div>
		<% end %>
		<% end %>
		</div>
	</div>
</div>

