<!-- ユーザー編集ページ -->
<div class="col mx-auto" style="width: 500px;">
      <div style="text-align: center; border: solid#ffbf7f;border-radius: 20px; margin-top: 10px;">
            <h2>新規登録</h2>
            <%= form_for(@enduser, :url => {:controller => :endusers, :action => :update}) do |f| %>
            <div class="field">
            <p><strong>お名前(フリガナ)</strong></p>
            <%= f.text_field :first_name_kana, autofocus: true,placeholder: "例：タナカ", autocomplete: "first_name_kana" %>
            <%= f.text_field :last_name_kana, autofocus: true,placeholder: "例：タロウ", autocomplete: "last_name_kana" %>
            </div>

            <div class="field">
              <p><strong>お名前</strong></p>
              <%= f.text_field :first_name, autofocus: true,placeholder: "例：田中", autocomplete: "first_name" %>
              <%= f.text_field :last_name, autofocus: true,placeholder: "例：太郎", autocomplete: "last_name" %>
            </div>

            <div class="field">
              <p><strong>ニックネーム</strong>(サイト内での表記)</p>
              <%= f.text_field :nickname, autofocus: true,placeholder: "例：ごち", autocomplete: "nickname" %>
            </div>

            <div class="field">
              <p><strong>メールアドレス</strong></p>
              <%= f.email_field :email, autofocus: true,placeholder: "例：gotimemo@mail.com", autocomplete: "email" %>
            </div>
            <div class="actions">
              <%= f.submit "変更" %>
            </div>
          <% end %>
      </div>
</div>
